body {
  padding-top: 70px;
  font-family: "Roboto";
  font-weight: 200;
  background-color: #E8E8E8;
}

.peter {
  display: table;
  width: 100%;
  border-spacing: 10px 0px;
}

.card {
  border-color: rgba(227, 227, 227, 1);
  border-style: solid;
  border-width: 1px;
  box-shadow: 1px 1px 5px rgba(215, 215, 215, 1);
  height: 214px;
  width: 406px;
  margin-right: 10px;
  display: table-cell;
}

.blue {
  background-color: rgb(56,140,255);
}

.pink {
  background-color: #EE3B78;
}

.green {
  background-color: #63BC66;
}

.turquoise {
  background-color: #24AFBC;
}

.header {
  height: 129px;
  padding: 20px 10px 10px;
  text-align: center;
  color: white;
}

.sub-header {
  height: 83px;
  padding: 10px;
  text-align: center;
  width: 60%;
  float:left;
  color: #9a9a9a;
  background-color: white;
}

.border-right {
  border-right: 2px solid #E8E8E8;
  width: 40%;
}

.width-65 {
  width: 65px;
}

.width-40 {
  width: 40px;
}

.width-33 {
  width: 33px;
}

.top > div {
  display: inline-block;
  height: 66px;
}

[class^="region-"] {
  background-size: contain;
  height: 66px;
  width: 66px;
}

.region-michigan {
  background-image: url("../images/dashboard/white_MI.png");
}
.region-ohio {
  background-image: url("../images/dashboard/white_OH.png");
}
.region-iowa {
  background-image: url("../images/dashboard/white_IA.png");
}
.region-california {
  background-image: url("../images/dashboard/white_CA.png");
}

[class^="font-"] {
  vertical-align: bottom;
}

.font-56 {
  font-size: 56px;
  line-height: 62px;
  margin-right: 10px;
}

.font-24 {
  font-size: 20px;
  line-height: 46px;
  margin-right: 5px;
}

[class^="arrow-"] {
  background-repeat: no-repeat;
  background-position: center center;
  width: 18px;
  height: 66px;
}

.arrow-green {
  background-image: url("../images/dashboard/u53.png");
}

.up {
  transform: rotate(217deg);
}

.bottom {
  height: 30px;
  margin-bottom: 10px;
}

.bottom > div {
  display: inline-block;
}

[class^="icon-"] {
  background-size: contain;
  background-repeat: no-repeat;
  height: 33px;
  width: 33px;
}

.icon-bench {
  background-image: url("../images/dashboard/bench_blue.png");
}

.icon-clock {
  background-image: url("../images/dashboard/blue_clock.png");
  background-position: center center;
  width: 25px;
}

[class^="test-"] {
  background-repeat: no-repeat;
  background-position: center center;
  width: 9px;
  height: 33px;
}

.test-pink {
  background-image: url("../images/dashboard/u95.png");
}

.region-header {
    background-attachment: inherit;
    background-clip: inherit;
    background-color: rgba(56, 140, 255, 1);
    background-image: inherit;
    background-origin: inherit;
    background-position: inherit;
    background-repeat: inherit;
    background-size: inherit;
    border: medium none;
    border-radius: 0;
    box-shadow: none;
    height: 71px;
    width: auto;
    margin: 40px 10px;
    color: white;
}

.region-header .title {
    color: #ffffff;
    font-family: "Roboto";
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    padding: 10px 15px;
    float: left;
}

.region-header .link {
    border-width: 0;
    color: #ffffff;
    font-family: "Roboto";
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    height: 33px;
    width: 235px;
    float: right;
}

#u350_img {
    border-width: 0;
    height: 33px;
    width: 235px;
}
